:host {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.product-info {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.1rem;
}

.product-description {
  padding: 0.5rem;
  color: gray;
  font-size: 0.9rem;
  width: 30ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

