@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,100;1,400;1,600;1,900&family=Play:wght@400;700&display=swap');

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
